<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lovelace</title>
</head>
<body>
    <h2>Lovelace</h2>
    <img src="/images/lovelace.jpg" alt="Lovelace">
    <section>HEROES
        <article>
            <a href="/turing"><img src="/images/alan-turing.jpg" alt="Turing" width ="120" height="63"> Turing</a>
        </article>
        <article>
            <a href="/Babbage"><img src="/images/Babbage.jpg" alt="Babbage"width ="120" height="63">Babbage</a>
        </article>
        <article>
            <a href="/clarke"><img src="/images/clarke.jpg" alt="Clarke"width ="120" height="63">Clarke</a>
        </article>
        <article>
            <a href="/berners-lee"><img src="/images/berners-lee.jpg" alt="Berners Lee"width ="120" height="63">Berners Lee</a>
        </article>
        <article>
            <a href="/hopper"><img src="/images/hopper.jpg" alt="Hopper"width ="120" height="63">Hopper</a>
        </article>
        <article>
            <a href="/hamilton"><img src="/images/hamilton.jpg" alt="hamilton"width ="120" height="63">Hamilton</a>
        </article>
        <article>
            <a href="/home"><img src="/images/home.jpg" alt="Home"width ="120" height="63">Home</a>
        </article>
    
</body>
</html>